@font-face {
  font-family: "Bomiro";
  src: url("../public/fonts/Bomiro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ConcreteFX";
  src: url("../public/fonts/concrete-fx.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
