@import "@repo/ui/style.css";

@layer base {
  :root {
    --axis-rainbow: linear-gradient(
      100deg,
      hsl(var(--holy-light)) 0%,
      hsl(var(--midpage)) 50%,
      hsl(var(--ocean)) 75%,
      hsl(var(--terra)) 100%
    );

    --axis-rainbow-reverse: linear-gradient(
      30deg,
      hsl(var(--terra)) 0%,
      hsl(var(--ocean)) 33%,
      hsl(var(--midpage)) 66%,
      hsl(var(--holy-light)) 100%
    );
  }

  body {
    @apply max-h-dvh font-sans;
  }

  a {
    @apply cursor-pointer;
  }

  a svg {
    @apply transition-all;
  }
}

@layer components {
  .bg-axis-orange-grad {
    background-image: linear-gradient(
      hsla(11, 100%, 63%, 0.74),
      hsla(32, 99%, 66%, 0.64),
      hsla(40, 100%, 77%, 0.74)
    );
  }

  .auction-progress {
    clip-path: xywh(0 3px 100% 75% round 0% 0);
  }

  .auction-action-container {
    @apply flex flex-col-reverse justify-between gap-x-8 lg:flex-row;
  }

  .mask {
    mask-image: linear-gradient(hsla(0, 0%, 0%, 1), transparent);
  }

  .form-div {
    @apply col-span-2 mt-8 w-full max-w-sm place-self-start;
  }

  .axis-rainbow {
    background: var(--axis-rainbow);
  }

  .axis-rainbow-reverse {
    background: var(--axis-rainbow-reverse);
  }

  .nav-separator {
    @apply axis-rainbow absolute left-0 h-1 w-screen;
  }
}

@layer utilities {
  .loading-indicator {
    animation: rotateAnimation 4s linear infinite; /* Adjust duration and animation timing as needed */
  }

  .loading-indicator-fast {
    animation: rotateAnimation 1s linear infinite;
  }

  .gradient-border {
    position: relative;
  }
  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    background: var(--axis-rainbow);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  .gradient-border-shift::before {
    background-size: 200% 200%;
    animation: shift-gradient 2.8s ease infinite;
  }

  @keyframes shift-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
