@import "@repo/ui/style.css";

@layer base {
  :root {
    --axis-rainbow: linear-gradient(
      100deg,
      rgba(110, 148, 240, 1) 2%,
      rgba(118, 189, 242, 1) 10%,
      rgba(206, 244, 117, 1) 32%,
      rgba(243, 244, 189, 1) 49%,
      rgba(243, 244, 189, 1) 52%,
      rgba(246, 172, 84, 1) 79%,
      rgba(242, 103, 64, 1) 100%
    );
    --axis-rainbow-reverse: linear-gradient(
      30deg,
      rgba(255, 102, 68, 1) 0%,
      rgba(254, 176, 85, 1) 12.5%,
      rgba(255, 216, 139, 1) 24.99%,
      rgba(253, 238, 162, 1) 37.49%,
      rgba(244, 245, 193, 1) 49.99%,
      rgba(242, 254, 165, 1) 62.48%,
      rgba(205, 246, 117, 1) 74.98%,
      rgba(117, 200, 246, 1) 87.48%,
      rgba(117, 161, 246, 1) 100%
    );
  }

  body {
    @apply max-h-dvh font-sans;
  }

  input {
    @apply font-aeonpro;
  }

  a {
    @apply cursor-pointer;
  }

  a svg {
    @apply transition-all;
  }
}

@layer components {
  .bg-axis-orange-grad {
    background-image: linear-gradient(
      hsla(11, 100%, 63%, 0.74),
      hsla(32, 99%, 66%, 0.64),
      hsla(40, 100%, 77%, 0.74)
    );
  }

  .auction-progress {
    clip-path: xywh(0 3px 100% 75% round 0% 0);
  }

  .auction-action-container {
    @apply flex flex-col-reverse justify-between gap-x-8 lg:flex-row;
  }

  .mask {
    mask-image: linear-gradient(hsla(0, 0%, 0%, 1), transparent);
  }

  .form-div {
    @apply col-span-2 mt-8 w-full max-w-sm place-self-start;
  }

  .axis-rainbow {
    background: var(--axis-rainbow);
  }

  .axis-rainbow-reverse {
    background: var(--axis-rainbow-reverse);
  }

  .nav-separator {
    @apply axis-rainbow absolute left-0 h-1 w-screen;
  }
}

@layer utilities {
  .loading-indicator {
    animation: rotateAnimation 4s linear infinite; /* Adjust duration and animation timing as needed */
  }

  .loading-indicator-fast {
    animation: rotateAnimation 1s linear infinite;
  }

  .gradient-border {
    position: relative;
  }
  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    background: var(--axis-rainbow);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  .gradient-border-shift::before {
    background-size: 200% 200%;
    animation: shift-gradient 2.8s ease infinite;
  }

  @keyframes shift-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
